/*
 * Less functions
 */
.box-shadow(@arguments) {
	-webkit-box-shadow: @arguments;
	-khtml-box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-o-box-shadow: @arguments;
	box-shadow: @arguments;
}

.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-khtml-border-radius: @radius;
	-moz-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.transition(@arguments) {
	-webkit-transition: @arguments;
	-khtml-transition: @arguments;
	-moz-transition: @arguments;
	-o-transition: @arguments;
	transition: @arguments;
}

.transform(@arguments) {
	-webkit-transform: @arguments;
	-khtml-transform: @arguments;
	-moz-transform: @arguments;
	-o-transform: @arguments;
	transform: @arguments;
}
.box-sizing(@arguments) {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.font-smoothing(@arguments) {
	-webkit-font-smoothing: @arguments;
}

/* --------------------------------------------------------
  Custom Font
--------------------------------------------------------- */
@font-face {
	font-family: 'OpenSansCondensedBold';
	src: url('../fonts/opensans-condbold-webfont.eot');
	src: url('../fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/opensans-condbold-webfont.woff') format('woff'),
		url('../fonts/opensans-condbold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansItalic';
	src: url('../fonts/opensans-italic-webfont.eot');
	src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/opensans-italic-webfont.woff') format('woff'),
		url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
		url('../fonts/opensans-italic-webfont.svg#OpenSansItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/opensans-regular-webfont.woff') format('woff'),
		url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
		url('../fonts/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansSemiboldRegular';
	src: url('../fonts/opensans-semibold-webfont.eot');
	src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/opensans-semibold-webfont.woff') format('woff'),
		url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
		url('../fonts/opensans-semibold-webfont.svg#OpenSansSemiboldRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
 * Typography
 */

h1,h2,h3,h4,h5,h6 {
	font-family: 'OpenSansCondensedBold';
	.font-smoothing(antialiased);
	text-rendering: optimizeLegibility;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
	color: #404040;
}
h1 {
	font-size: 22px;
	margin: 0 0 10px;
}
h2 {
	font-size: 24px;
	line-height: 28px;
	margin: 5px 0 10px;
}
h3 {
	font-size: 24px;
	line-height: 28px;
	margin: 0 0 10px;
}
h4 {
	font-size: 16px;
	line-height: 18px;
	margin: 0 0 8px;
}
input {
	padding: 5px;
}
.button {
	background: #77a832;
	border: 1px solid #77a832;
	color: #fff;
	width: auto;
	display: inline-block;
	padding: 4px 10px;
	margin: 5px 0;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	.transition(all 100ms ease);
	.border-radius(4px);
	text-align: center;
}
#sidebar .button:hover,
#sidebar .button {
	color: #fff;
}
.button:hover {
	color: #fff;
	background-color: #8ec63d;
}
a.more {
	background: transparent url(../img/sprite.png) no-repeat 30px -63px;
	color: #77A832;
	padding-right: 15px;
}
a.more:hover {
	color: #8ec63d;
}
a.button.centered {
	display: block;
	width: 240px;
	text-align: center;
	margin: 0 auto;
	height: 28px; line-height: 30px;
	font-size: 14px;
}
a.load.loading {
	background-color: #b0b0b0;
	border-color: #b0b0b0;
}

a {
	text-decoration: none;
	color: #2C8FC6;
	.transition(all .25s ease);
}

p {
	margin: 0 0 15px;
}

body {
	font: normal 12px/20px 'OpenSansRegular','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
	color: #404040;
	margin: 0;
	padding: 0;
}

.clearfix:before,
.clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
 	clear: both;
 }
.clearfix {
	zoom: 1;
}

.limiter {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

header#masthead {
	background: white;
	border-bottom: 1px solid #dfdfdf;
	.box-shadow(0 2px 5px rgba(0,0,0,0.05));
	position: relative;
	a {
		color: #404040;
		font-size: 11px;
		font-family: 'OpenSansSemiboldRegular','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
	}
	h1 {
		font-weight: normal;
		a {
			padding-right: 10px;
			font-family: 'OpenSansCondensedBold';
			text-transform: uppercase;
			display: block;
			float: left;
			line-height: 32px;
			font-size: 26px;
			margin-top: 20px;
			span {
				background: transparent url(../img/sprite.png) no-repeat 0 -100px;
				display: inline-block;
				width: 30px;
				height: 25px;
			}
		}
	}
	.revision {
		color: #96979C;
		font-size: 11px;
		float: left;
		line-height: 14px;
		margin-top: 33px;
	}
	.project-by {
		float: right;
		ul {
			float: left;
			padding: 15px 0;
			li {
				float: left;
				margin-left: 20px;
				&.label {
					padding-top: 15px;
					color: #999;
				}
				a {
					display: block;
					float: left;
					&.oeco {
						background-position: -390px 5px;
						width: 110px;
						height: 50px;
					}
					&.internews {
						background-position: -367px -55px;
						width: 133px;
						height: 50px;
					}
				}
			}
		}
	}
}
#mastnav {
	width: 100%;
	display: block;
	background: #f7f7f7;
	nav {
		margin: 0;
		padding: 0;
		float: left;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			float: left;
			li {
				float: left;
				a {
					display: block;
					text-transform: uppercase;
					padding: 7px 10px;
					&:hover {
						background: #fff;
					}
					&.submit-story {
						background-color: #8ec63d;
						background-image: -webkit-gradient(linear, left top, left bottom, from(#8ec63d), to(#77a832));
						background-image: -webkit-linear-gradient(top, #8ec63d, #77a832);
						background-image:    -moz-linear-gradient(top, #8ec63d, #77a832);
						background-image:     -ms-linear-gradient(top, #8ec63d, #77a832);
						background-image:      -o-linear-gradient(top, #8ec63d, #77a832);
						background-image:         linear-gradient(to bottom, #8ec63d, #77a832);
						color: #fff;
					}
				}
				&.current_page_item {
					a {
						background: #fff;
					}
				}
			}
		}
	}
	nav#langnav {
		padding: 7px 0;
		float: right;
		a {
			color: #808080;
			text-transform: lowercase;
			height: 18px;
			line-height: 18px;
			padding: 0 5px;
			margin: 0 0 0 5px;
			&.active {
				background-color: #8ec63d;
				background-image: -webkit-gradient(linear, left top, left bottom, from(#8ec63d), to(#77a832));
				background-image: -webkit-linear-gradient(top, #8ec63d, #77a832);
				background-image:    -moz-linear-gradient(top, #8ec63d, #77a832);
				background-image:     -ms-linear-gradient(top, #8ec63d, #77a832);
				background-image:      -o-linear-gradient(top, #8ec63d, #77a832);
				background-image:         linear-gradient(to bottom, #8ec63d, #77a832);
				color: #fff;
			}
		}
	}
	nav#social {
		float: right;
		padding: 7px 0;
		border-right: 1px solid #ddd;
		padding-right: 10px;
		margin-right: 5px;
	}
}

#searchform {
	margin: 15px;
	padding: 0;
	float: right;
	display: block;
	opacity: .6;
	.transition(opacity .3s linear);
	input {
		padding: 8px;
		border-color: #f0f0f0;
		.box-shadow(inset 0 2px 5px rgba(0, 0, 0, 0.05));
		outline: none;
		&[type=text] {
			width: 300px;
		}
	}
	&:hover {
		opacity: 1;
		input {
			.box-shadow(0 2px 10px 1px rgba(0, 0, 0, 0.05));
		}
	}
}

#stage {
	background: #f0f0f0;
	position: relative;
	padding: 35px 0;
	.title {
		margin: 0 0 35px;
	}
	.choose-filter {
		margin: -17px 0 18px;
		z-index: 200;
		position: relative;
		float: left;
		.title {
			font-family: 'OpenSansRegular';
			.font-smoothing(antialiased);
			text-rendering: optimizeLegibility;
			font-size: 18px;
			line-height: 22px;
			margin: 0;
			padding: 15px 0;
			border-left: 1px solid #f0f0f0;
			list-style: none;
			display: block;
			float: left;
			.transition(all .2s ease-in-out);
			position: absolute;
			top: 22px;
		}
		.box {
			min-width: 200px;
			padding: 0 15px;
			.box-sizing(border-box);
			border: 1px solid #f0f0f0;
			background: #f0f0f0;
			.border-radius(4px);
			.transition(all .2s ease-in-out);
			cursor: pointer;
			position: relative;
			z-index: 2;
			float: left;
			.arrow {
				background-image: url(../img/sprite.png);
				background-position: 0 0;
				background-repeat: no-repeat;
				display: block;
				width: 25px;
				height: 25px;
				float: left;
				margin-top: 11px;
				margin-right: 7px;
				margin-left: -10px;
				opacity: 0.5;
				.transition(opacity .2s ease-in-out);
			}
			.title {
				padding: 15px 0 15px 12px;
				position: static;
				top: auto;
			}
			&:hover {
				background: #f5f5f5;
				border: 1px solid #e0e0e0;
				.box-shadow(0 2px 5px rgba(0, 0, 0, 0.05));
				.arrow {
					opacity: 1;
				}
				.title {
					border-left: 1px solid #e0e0e0;
				}
			}
			&:active {
				.box-shadow(inset 0 2px 4px rgba(0, 0, 0, 0.05));
			}
		}
		ul {
			position: absolute;
			top: 53px;
			width: 100%;
			background: #fff;
			border-top: 1px solid #ccc;
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
			.border-radius(4px);
			display: none;
			.box-sizing(border-box);
			li {
				a {
					display: block;
					padding: 10px;
					border-bottom: 1px solid #ccc;
					color: #404040;
					&:hover {
						background-color: #8ec63d;
						color: #fff;
					}
				}
			}
		}
		&.active {
			.box {
				background: #fff;
				border: 1px solid #ccc;
				.border-radius(3px 3px 0 0);
				.arrow {
					opacity: 1;
				}
			}
			ul {
				display: block;
				.border-radius(0 0 3px 3px);
			}
		}
	}
	.stage-map {
		width: 100%;
		height: 480px;
	}
	.mapgroup-container {
		padding: 0px;
	}
}

.content-map,
.map-container {
	position: relative;
}

.mapgroup-container {
	padding: 35px 0 15px 0;
}

.mapgroup {
	position: relative;
	.map-nav {
		position: absolute;
		top: -35px;
		right: 0;
		margin: 0;
		padding: 0;
		li {
			float: left;
			a {
				font-family: 'OpenSansRegular','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
				.transition(none);
				background-color: white;
				border: 1px solid #CCC;
				border-bottom: none;
				display: block;
				color: #96979C;
				padding: 0 15px;
				height: 34px;
				line-height: 35px;
				margin-left: 1px;
				position: relative;
				font-size: 11px;
				text-transform: uppercase;
				&:active {
					.box-shadow(inset 0 2px 4px rgba(0, 0, 0, 0.10));
				}
				&:hover {
					color: #404040;
				}
				&.active {
					background-color: #77A832;
					background-image: -webkit-gradient(linear, left top, left bottom, from(#8EC63D), to(#77A832));
					background-image: -webkit-linear-gradient(top, #8EC63D, #77A832);
					background-image: -moz-linear-gradient(top, #8EC63D, #77A832);
					background-image: -ms-linear-gradient(top, #8EC63D, #77A832);
					background-image: -o-linear-gradient(top, #8EC63D, #77A832);
					background-image: linear-gradient(to bottom, #8EC63D, #77A832);
					color: white;
					border-color: #77A832;
					z-index: 9999999;
					&:after {
						content: '';
						width: 0;
						height: 0;
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						border-top: 10px solid #77A832;
						position: absolute;
						bottom: -10px;
						left: 15px;
						z-index: 1000;
					}
				}
			}
			&.more-tab {
				> a {
					&:before {
						content: '';
						float: right;
						width: 5px;
						height: 4px;
						margin-top: 15px;
						margin-left: 10px;
						background: url(../img/down-arrow.png);
						opacity: .3;
					}
				}
				&:hover {
					> a {
						color: #404040;
					}
					ul {
						display: block;
					}
				}
				ul {
					display: none;
					position: absolute;
					top: 35px;
					right: 0;
					z-index: 9999999;
					border-bottom: 1px solid #ccc;
					li {
						display: block;
						float: none;
						a.active:after {
							display: none;
						}
					}
				}
			}
		}
	}
}

#content {
	.gray-page {
		background: #f0f0f0;
	}
}

/*
 * Map stuff
 */

.content-map.fullscreen {
	z-index: 99999999;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	.map-container {
		position: relative !important;
		z-index: 100;
		.map-fullscreen-map {
			position: absolute !important;
		}
		.map-widgets {
			position: absolute !important;
		}
	}
}

.map-fullscreen-view {
	.map-fullscreen {
		background-position: -23px -33px !important;
	}
}

.iframe {
	.map-fullscreen {
		display: none !important;
	}
}

.map-container {
	.map-widgets {
		position: static;
		.map-widget {
			margin: 0 0 3px;
			border: 0;
			background: transparent;
			position: static;
			.map-search {
				input {
					width: 24px;
					padding: 0 0 0 24px;
					height: 24px;
					.box-sizing(border-box);
					color: #fff;
					font-size: 11px;
					background: #303030 url(../img/search.png) 5px 5px no-repeat;
					.transition(all .2s ease-in-out);
					&:focus,
					&:hover {
						width: 121px;
						background-position: -50px 5px;
						padding: 5px;
					}
				}
			}
			.geocode-results {
				font-size: 90%;
				width: 100%;
				background: #303030;
				position: absolute;
				left: -79px;
				margin-top: 2px;
				.widget-title {
					border-color: #111;
					color: #999;
				}
				a {
					color: #999;
					&:hover {
						color: #fff;
					}
				}
				ul {
					li {
						border-color: #111;
						color: #999;
						&:hover {
							color: #fff;
							background: transparent;
						}
					}
				}
			}
			.switch-layers,
			.swap-layers {
				li {
					background: #303030;
					border: 0;
					.border-radius(0);
					color: #fff;
					font-size: 11px;
					font-weight: bold;
					margin: 1px 0 0;
				}
			}
			&.geocode-widget {
				width: 200px;
				position: absolute;
				top: 15px;
				left: 94px;
				z-index: 100;
			}
			&.switch-layers-widget,
			&.swap-layers-widget {
				margin: 0;
				.filter-layers {
					width: 200px;
					position: absolute;
					bottom: 15px;
					left: 15px;
					z-index: 100;
				}
			}
		}
	}
	.map {
		background-color: #111;
		position: relative;
		.search-layer {
			background: rgba(0,0,0,0.5);
		}
		.map-tooltip  {
			border: 0;
			background-color: #202020;
			background-color: rgba(0,0,0,0.80);
			.box-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
			width: 230px;
			padding: 10px;
			position: absolute;
			z-index: 15000;
			top: 15px;
			right: 15px;
			color: #a0a0a0;
			h2,
			h3 {
				color: #fff;
				font-size: 16px;
				margin: 0 0 5px;
				line-height: 20px;
			}
		}
		.zoomer,
		.map-fullscreen {
			.border-radius(0);
			border: 0;
			text-indent: 0;
			display: block;
			position: absolute;
			top: 15px;
			left: 15px;
			z-index: 1000;
			width: 24px;
			height: 24px;
			line-height: 24px;
			font-weight: bold;
			color: white;
			background: #303030;
			text-align: center;
			&:hover {
				color: #fff;
			}
			&:active {
				background-color: #333;
				.box-shadow(inset rgba(0,0,0,0.1) 0px 1px 3px);
			}
			&.zoomin {
				left: 40px;
			}
			&.map-fullscreen {
				left: 67px;
				background-position: 2px -33px;
				background-image: url(../img/sprite.png);
				background-repeat: no-repeat;
			}
		}
		/* Legends */
		.map-legends {
			padding: 10px 10px 35px;
			.border-radius(0);
			.box-shadow(0 0 0 0);
			border: 0;
			bottom: 15px;
			right: 15px;
			.map-legend {
				max-width: 220px;
				padding: 0;
				strong {
					font-weight: bold;
				}
				.key {
					line-height: 25px;
					margin-left: 20px;
				}
				img {
					float: left;
					margin-left: -20px;
				}
				span {
					margin-left: 5px;
				}
				.map-details-link {
					color: #999;
					font-size: 90%;
					padding: 5px 0;
					background: #303030;
					display: block;
					text-align: center;
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					margin: 0;
					cursor: pointer;
					.transition(all .2s ease-in-out);
					&:hover {
						background: #000;
						color: #fff;
					}
				}
			}
		}
		/* Markers custom for zoom */
		&.zoom-1,
		&.zoom-2,
		&.zoom-3,
		&.zoom-4,
		&.zoom-5 {
			.story-points {
				background: url(../img/sprite.png) no-repeat !important;
				background-position: -80px -224px !important;
				width: 12px !important;
				height: 15px !important;
				margin-top: -7px !important;
				margin-left: -6px !important;
				&.active {
					background-position: -105px -224px !important;
				}
				.popup {
					bottom: 36px !important;
				}
				&:hover {
					.popup {
						bottom: 26px !important;
					}
				}
			}
		}
	}
}
.content-map {
	.map-container {
		width: 75%;
		height: 100%;
		float: left;
	}
}

.map-sidebar {
	background: #111;
	color: #96979C;
	height: 100%;
	width: 25%;
	z-index: 1000;
	word-wrap: break-word;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	float: left;
	&::-webkit-scrollbar {
		background: #303030;
		width: 15px;
	}
	&::-webkit-scrollbar-thumb {
		background: #666;
		border-radius: 15px;
		border: 5px #303030 solid;
	}
	.sidebar-inner {
		padding: 10px 15px;
	}
	h2 {
		color: #fff;
		margin: 10px 0;
	}
	object,
	object embed,
	iframe,
	img {
		max-width: 100%;
	}
	.sharing {
		.social {
			margin: 15px 0 0;
		}
	}
}

.map-details-page {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(17,17,17,.95);
	z-index: 999999;
	color: #e0e0e0;
	overflow: auto;
	.inner {
		padding: 30px;
		h2 {
			color: #f0f0f0;
			font-size: 24px;
			margin-bottom: 30px;
		}
		.details-content {
			h1, h2, h3, h4 {
				font-size: 20px;
				margin-bottom: 15px;
			}
		}
	}
	&::-webkit-scrollbar {
		background: #303030;
		width: 15px;
	}
	&::-webkit-scrollbar-thumb {
		background: #666;
		.border-radius(15px);
		border: 5px #303030 solid;
	}
	.close {
		top: 20px;
		right: 20px;
		position: absolute;
		color: #fff;
		background: #303030;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		width: 24px;
		height: 24px;
		display: block;
		font-weight: 500;
		font-family: 'OpenSansSemiboldRegular','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
	}
}

.publisher-desc {
	margin: 15px 0;
	background: #f4f4f4;
	padding: 15px;
	position: relative;
	.term-title {
		font-size: 20px;
		font-weight: 600;
	}
	p {
		font-size: 14px;
		line-height: 22px;
		color: #666;
	}
	&:after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		bottom: -20px;
		left: 15px;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid #f4f4f4;
	}
}

/*
 * LIST POSTS
 */

 section.loop-section {
 	h3 {
 		line-height: 34px;
 		margin-bottom: 0;
 		border-bottom: 1px solid #f0f0f0;
 		background: #fff;
 		padding: 15px;
 	}
 	&:hover {
 		h3 {
			.box-shadow(0 2px 5px rgba(0, 0, 0, 0.05));
 		}
 	}
 }

 body {
	.wp-paginate {
		float: right;
		margin: 0 0 30px;
		.current {
			background: #8ec63d;
			border: 1px solid #77a832;
			padding: 7px 12px;
			.border-radius(3px);
		}
		a {
			background: #f0f0f0;
			border-color: #ccc;
			padding: 7px 12px;
			.border-radius(3px);
		}
	}
}

.list-posts {
	margin: 0 0 30px;
	.transition(all 25s ease);
	li {
		cursor: pointer;
		width: 25%;
		height: 229px;
		border-bottom: 1px solid #f0f0f0;
		.box-sizing(border-box);
		padding: 15px;
		margin: 0;
		float: left;
		overflow: hidden;
		.transition(opacity 0.1s linear);
		&:hover {
			opacity: .7;
		}
		img {
			max-width: 100%;
			height: auto;
		}
		h2 {
			font-size: 16px;
			line-height: 18px;
		}
		p.meta {
			color: #96979C;
			font: 12px/16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
			margin-bottom: 5px;
		}
		&.active {
			border-color: #77a832;
			background-color: #8EC63D;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#8EC63D), to(#77A832));
			background-image: -webkit-linear-gradient(top, #8EC63D, #77A832);
			background-image: -moz-linear-gradient(top, #8EC63D, #77A832);
			background-image: -ms-linear-gradient(top, #8EC63D, #77A832);
			background-image: -o-linear-gradient(top, #8EC63D, #77A832);
			background-image: linear-gradient(to bottom, #8EC63D, #77A832);
			h2,
			h2 a,
			p.meta {
				color: #fff;
			}
			&:hover {
				opacity: 1;
			}
		}
	}
}

#page,
.archive-page {
	padding: 30px 0;
	background: #f0f0f0;
	article.main,
	.archive-list {
		width: 66%;
		float: left;
		h1 {
			margin: 0 0 30px;
		}
	}
	#searchform {
		margin: 0 0 30px;
	}
	.page-sidebar {
		width: 33%;
		float: left;
		.box-sizing(border-box);
		padding-left: 60px;
		ul.widgets {
			margin: 0;
			padding: 0;
			> li {
				display: block;
				float: none;
				width: 100%;
				margin: 0 0 30px;
				&.widget_archive {
					clear:both;
					li {
						font-size: 90%;
						float: left;
						width: 33%;
						padding-bottom: 5px;
					}
				}
			}
		}
	}
}

/*
 * Map Archive
 */

#map-archive {
	.list-maps {
		> li {
			margin: 0 0 20px;
			.map-container,
			.wp-post-image {
				width: 200px;
				height: 200px;
				float: left;
				margin: 0 20px 20px 0;
			}
		}
	}
}

/*
 * Submit call widget
 */

aside#submit-call {
	margin: 0 0 30px;
	background: rgba(0,0,0,.05);
	.border-radius(6px);
	padding: 40px 60px;
	p {
		font-size: 16px;
		line-height: 26px;
		width: 50%;
		float: left;
		margin: 0;
	}
	.button-area {
		width: 50%;
		float: left;
	}
	.button {
		display: block;
		margin: 15px auto;
		width: 50%;
		padding: 15px 0;
		font-family: 'OpenSansSemiboldRegular','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
		font-size: 14px;
	}
}

/* 
 * Home widgets
 */

aside#main-widgets {
	background: #111;
	padding: 15px 0;
	margin: 0 0 15px;
	color: #f0f0f0;
	a {
		color: #aaa;
		&:hover {
			color: #8EC63D;
		}
	}
	.button {
		color: #fff;
		&:hover {
			color: #fff;
		}
	}
	ul.widgets {
		margin: 0;
		padding: 0;
		> li {
			width: 50%;
			float: left;
			padding: 15px;
			margin-bottom: 15px;
			.box-sizing(border-box);
			&.widget_archive {
				li {
					width: 25%;
					float: left;
					margin-bottom: 5px;
					font-size: 90%;
				}
			}
			&.widget_tag_cloud {
				width: 100%;
				.tagcloud {
					text-align: center;
				}
			}
			.textwidget {
				color: rgb(150,151,156);
				font-size: 14px;
				line-height: 24px;
			}
		}
	}
}

/*
 * Footer
 */
footer#colophon {
	margin-top: 20px;
	padding: 50px 0 0;
	height: 120px;
	background: #fff;
	color: #96979C;
	ul {
		position: relative;
		margin: 0 auto;
		width: 630px;
		li {
			a.icon {
				height: 50px;
				margin-left: 0;
				margin-right: 15px;
				&.knight {
					background-position: -228px -169px;
					width: 100px;
					height: 75px;
					position: relative;
					top: -18px;
				}
				&.devseed {
					background-position: -270px 0;
					width: 85px;
					margin: 0;
					height: 55px;
					position: relative;
					top: -8px;
				}
				&.oeco {
					background-position: -390px 5px;
					width: 110px;
				}
				&.internews {
					background-position: -367px -55px;
					width: 133px;
				}
				&.cdkn {
					background-position: -361px -115px;
					width: 140px;
					height: 56px;
					position: relative;
					top: -5px;
				}
			}
			&.label {
				position: absolute;
				top: -30px;
				left: 0;
				&.supported {
					left: 275px;
				}
			}
		}
	}
}

/*
 * Submit story
 */

#submit-story {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .8);
	z-index: 9999999;
	display: none;
	&.active {
		display: block;
	}
	.submit-container {
		width: 600px;
		max-height: 90%;
		overflow: auto;
		padding: 20px;
		.box-sizing(border-box);
		.border-radius(5px);
		top: 5%;
		left: 50%;
		margin-left: -300px;
		position: absolute;
		background: #f0f0f0;
		.box-shadow(0 0 0px 10px rgba(0, 0, 0, .2));
		p {
			margin: 0 0 15px;
		}
		&::-webkit-scrollbar {
			background: #f0f0f0;
			width: 15px;
			.border-radius(5px);
		}
		&::-webkit-scrollbar-thumb {
			background: #666;
			.border-radius(15px);
			border: 5px #f0f0f0 solid;
		}
		.close-submit-story {
			top: 20px;
			right: 20px;
			position: absolute;
			color: #555;
			background: #fff;
			font-size: 20px;
			line-height: 24px;
			text-align: center;
			width: 24px;
			height: 24px;
			display: block;
			font-weight: 500;
			font-family: 'OpenSansSemiboldRegular','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
			.border-radius(3px);
		}
		.error,
		.required {
			color: #f00;
			font-weight: bold;
		}
	}
}