/* Inliners */
label {
  font-family: 'OpenSansSemiboldRegular','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
  font-size: 8px;
  text-transform: uppercase;
  display: block;
  letter-spacing: 2px;
  }
  #sidebar label {
    color: #fff;
    }

small   { font: 12px/16px 'Helvetica Neue', Helvetica, Arial, sans-serif; }
strong  { font-family: 'OpenSansSemiboldRegular','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif; }
em, i   { font-family: 'OpenSansItalic','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif; }

/* Input and Forms */
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
  }
input {
  font: 13px/20px; 'Helvetica Neue', Helvetica, Arial, sans-serif;
  *overflow: visible;
  line-height: normal;
  }
input::-moz-focus-inner {
  padding: 0;
  border: 0;
  }
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  }
input,
textarea,
select {
  display: inline-block;
  padding: 0 8px;
  font-size: 13px;
  color: #666;
  background-color: white;
  border: 1px solid #b0b0b0;
  }
input,
textarea {
  -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.15);
  }
#sidebar form {
  display: none;
  }
#sidebar input {
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #000; /*404040;*/
  background: #000;/*404040;*/
  color: #96979C;
  font-weight: bold;
  }

/* --------------------------------------------------------
  layout and global styling
-------------------------------------------------------- */
.limiter {
  width: 90%;
  max-width: 1100px;
  min-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  }
.padding {
  padding: 0 15px;
  }
  .section-right #translate {
    float: left;
    margin-left: 10px;
    width: 155px;
    }
  .section-right ul {
    float: left;
    }

.col {
  float: left;
  }
.col-2 {
  width: 50%;
  }

.nav li {
  float: left;
  }
  .nav li a {
    display: block;
    margin-left: 10px;
    text-transform: uppercase;
    }
    .nav li.divider {
      font-size: 8px;
      margin-left: 10px;
      color: #808080;
      line-height: 18px;
      }
    #header a.lng {
      color: #808080;
      text-transform: lowercase;
      height: 18px;
      line-height: 18px;
      padding: 0 5px;
      margin: 0 0 0 5px;
      }
      #header a.lng.active {
        background-color: #8ec63d;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#8ec63d), to(#77a832));
        background-image: -webkit-linear-gradient(top, #8ec63d, #77a832);
        background-image:    -moz-linear-gradient(top, #8ec63d, #77a832);
        background-image:     -ms-linear-gradient(top, #8ec63d, #77a832);
        background-image:      -o-linear-gradient(top, #8ec63d, #77a832);
        background-image:         linear-gradient(to bottom, #8ec63d, #77a832);
        color: #fff;
        }
/* Language */
.lang-en .lang-es,
.lang-en .lang-pt {
  display: none;
  }
.lang-es .lang-en,
.lang-es .lang-pt {
  display: none;
  }
.lang-pt .lang-en,
.lang-pt .lang-es {
  display: none;
  }

/*  -------------------------------------------------------
 *    Frontpage
 *  ------------------------------------------------------- */
.stage {
  background: #f0f0f0;
  padding-bottom: 15px;
  }
  ul.layers li a,
  .filter a {
    font-family: 'OpenSansRegular','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    }
.dropdown {
  position: relative;
  }
  ul.dropdown,
  ul.dropdown li {
    float: left;
    }
    ul.dropdown li a {
      color: #404040;
      }
      ul.dropdown li a.dropdown-toggle {
        text-indent: 0;
        padding: 0 15px 0 45px;
        width: 50px;
        width: auto!important;
        min-width: 50px;
        display: block;
        background-color: #fff;
        border: 1px solid #ccc;
        position: relative;
        height: 28px; line-height: 30px;
        -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
        }
        ul.dropdown li a.dropdown-toggle {
          background-position: 0 0;
          z-index: 10000;
          -moz-border-radius: 4px;
          border-radius: 4px;
          }
        ul.dropdown li.open a.dropdown-toggle {
          border-color: #96979C;
          }
        ul.dropdown li span.arrow {
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid #404040;
          position: absolute;
          visibility: hidden;
          left: 10px;
          top: 30px;
          }
          ul.dropdown li.open span.arrow {
            visibility: inherit;
          }
          .dropdown-menu a {
            display: block;
            padding: 5px 10px;
            color:  #666;
            }
        ul.dropdown li a#all:active,
        ul.dropdown li a.dropdown-toggle:active {
          -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.10);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.10);
          }

  .dropdown-menu {
    background-color: #fff;
    visibility: hidden;
    position: absolute;
    top: 35px;
    left: -10px;
    padding: 5px 0;
    min-width: 160px;
    max-width: 220px;
    _width: 160px;
    zoom: 1;
    z-index: 1000;
    border: 1px solid #96979C;
    -moz-border-radius: 2px;
    border-radius: 2px;
    }
    ul ul.dropdown-menu li {
      display: block;
      float: none;
      }
    ul ul.dropdown-menu li a {
      font-size: 12px;
      display: block;
      }
      ul.dropdown-menu li a:hover {
        background-color: #8ec63d;
        color: #fff;
        }

  .open .dropdown-menu {
    visibility: inherit;
    }
#interactive {
  position: relative;
  height: 480px;
  }
.publisher-posts {
  background: #fff;
  padding: 5px 0 15px;
  }

.publisher-name {
  font-family: 'OpenSansSemiboldRegular','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
  margin-left: 5px;
  }

#posts {
  margin: 10px 0 20px;
  -moz-transition: all 25s ease;
  -o-transition: all 25s ease;
  -webkit-transition: all 25s ease;
  transition: all 25s ease;
  }
  #posts h4 {
    display: block;
    height: 66px;
    height: auto!important;
    min-height: 66px;
    }
  #posts li {
    float: left;
    width: 25%;
    height: 229px;
    border-bottom: 1px solid #ccc;
    }
    #posts li a {
      display: block;
      padding: 10px;
      margin: 0 5px;
      color: #404040;
      }
      #posts li a:hover         { color: #96979C; }
      #posts li a small         { color: #96979C; }
      #posts li.active a        { color: #fff; }
      #posts li.active a small  { color: #fff; }
      #posts li.active          {
        border-color: #77a832;
        background-color: #8EC63D;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#8EC63D), to(#77A832));
        background-image: -webkit-linear-gradient(top, #8EC63D, #77A832);
        background-image: -moz-linear-gradient(top, #8EC63D, #77A832);
        background-image: -ms-linear-gradient(top, #8EC63D, #77A832);
        background-image: -o-linear-gradient(top, #8EC63D, #77A832);
        background-image: linear-gradient(to bottom, #8EC63D, #77A832);
        }

.media-limit {
  margin: 0 0 15px;
  overflow: hidden;
  /*background-color: #f5f5f5;*/
  }
  #sidebar .media-limit {
    background-color: #000;
    }
#sidebar img,
#sidebar video,
#sidebar iframe {
  width: auto;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  }
#sidebar h2.title {
  color: #fff;
  }
.load-stories {
  background: #fff;
  position: relative;
  padding-bottom: 15px;
  }
.contribute {
  background: #000;
  color: #96979C;
  padding: 30px 0 20px;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  }
  .contribute h3 {
    color: #fff;
    }
  .contribute .padding {
    position: relative;
    padding: 0 15px 5px;
    }
  .submit-story .padding {
    margin-right: 5px;
    }
  .download-data .padding {
    margin-left: 5px;
    }
  .contribute a.button {
    margin-top: 10px;
    }

#provider .inner {
  background: #f0f0f0;
  padding: 15px 15px 25px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #96979C;
  font-size: 14px;
  line-height: 24px;
  margin: 10px 0 30px;
  position: relative;
  }
  #provider .arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f0f0f0;
    position: absolute;
    bottom: -20px;
    left: 15px;
    z-index: 1000;
    }

.layers {
  position: absolute;
  top: -35px;
  right: 20px;
  }
  .layers li a {
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom: none;
    display: block;
    color: #96979C;
    padding: 0 15px;
    height: 34px; line-height: 35px;
    margin-left: 1px;
    position: relative;
    font-size: 11px;
    }
  .layers li a:hover {
    color: #404040;
    }
  .layers li a:active {
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.10);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.10);
    }
  .layers li a.active {
    background-color: #77a832;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8ec63d), to(#77a832));
    background-image: -webkit-linear-gradient(top, #8ec63d, #77a832);
    background-image:    -moz-linear-gradient(top, #8ec63d, #77a832);
    background-image:     -ms-linear-gradient(top, #8ec63d, #77a832);
    background-image:      -o-linear-gradient(top, #8ec63d, #77a832);
    background-image:         linear-gradient(to bottom, #8ec63d, #77a832);
    color: #fff;
    border-color: #77a832;
    }
    .layers li a.active:active {
      -moz-box-shadow: none;
      box-shadow: none;
      }
    .layers li a span {
      visibility: hidden;
      width: 0; height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #77A832;
      position: absolute;
      bottom: -10px;
      left: 15px;
      z-index: 1000;
      }
      .layers li a.active span {
        visibility: inherit;
        }
     a.button.action {
      width: 210px;
      margin: 10px auto;
      }

/*  -------------------------------------------------------
 *    Map
 *  ------------------------------------------------------- */
#map {
  background-color: #000;
  position: relative;
  height: 100%;
  width: 75%;
  float: left;
  }
  #map a {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    z-index: 90000;
    }

#full {
  position: absolute;
  background-color: #303030;
  z-index: 1000;
  top: 15px;
  right: 35px;
  width: 24px; height: 24px;
  background-position: 2px -33px;
  }
  #full:active {
    background-color: #333;
    }

/*  -------------------------------------------------------
 *  Map component styling
 *  ------------------------------------------------------- */
	
#legend {
  position: absolute;
  z-index: 10000;
  right: 35px;
  bottom: 45px;
  max-width: 240px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 220px\9; /* IE 8 and below */
  }
  .wax-fade {
    opacity:0;
    transition: opacity .5s;
    -moz-transition: opacity .5s; /* Firefox 4 */
    -webkit-transition: opacity .5s; /* Safari and Chrome */
    -o-transition: opacity .5s; /* Opera */
  }
  body .wax-legend {
    background: #fff;
    padding: 10px 10px 5px;
    }
  #legend img {
    float: left;
    margin-left: -20px;
    }
  #legend .key,
  #legend .fire-monthly-key,
  #legend .fire-intensity-key,
  #legend .fire-freq-key {
    line-height: 25px;
    margin-left: 20px;
    }
  #legend span {
    margin-left: 5px;
    }
    /*
.map-tile-loaded {
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  -ms-animation-name: fade-in;
  -o-animation-name: fade-in;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -webkit-animation-duration: .25s;
  -moz-animation-duration: .25s;
  -ms-animation-duration: .25s;
  -o-animation-duration: .25s;
  }
@-webkit-keyframes fade-in { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fade-in { from { opacity:0; } to { opacity:1; } }
@-ms-keyframes fade-in { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fade-in { from { opacity:0; } to { opacity:1; } }

*/

/*  -------------------------------------------------------
 *  Map details modal
 *  ------------------------------------------------------- */
.map-details-page img {
  border: 1px solid #333;
  }
.map-details-page h2 {
  margin-bottom: 30px;
  }
.map-details-page h2,
.map-details-page h3 {
  color: #fff;
  }
.map-details-page h3 {
  font-size: 16px;
  }
.map-details-page .close {
  background: #303030;
  display: block;
  color: #fff;
  font-weight: 500;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 20px;
  text-shadow: 0 -1px 0 #000;
  }
  .map-details-page .close:active {
    background: #000;
    }

.map-details-page .topic {
  width:335px;
  margin: 0 10px 0 0;
  /*height: 180px;*/
  float: left;
  }
  .map-details-page .topic img {
    float: left;
    }
  .map-details-page .description {
    margin-left: 110px;
    }

/* color ramp */
.map-details-page .ramp {
  padding: 15px 0;
  }
  .map-details-page .ramp .ramp-labels {
    position: relative;
    top: 20px;
    margin-top: -30px;
    color: #A8A7A7;//#fff;
    }
  .map-details-page .ramp span {
    width: 0;
    margin-left: 58px;
    }
    .map-details-page .ramp span.first {
      margin-left: 5px;
    }

/* --------------------------------------------------------
  404 Page error
--------------------------------------------------------- */
body.error-404 {
  background: #f0f0f0;
  }
body.error-404 .main-content {
  font-family: 'OpenSansCondensedBold';
  position: absolute;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  height: 240px;
  top: 120px;
  font-weight: bold;
  -moz-border-radius: 4px;
  border-radius: 4px;
  }
body.error-404 .main-content h1 {
  font-size: 170px;
  color: #fff;
  text-align: center;
  line-height: 200px;
  }
body.error-404 .main-content a.button {
  position: absolute;
  bottom: 20px;
  width: 120px;
  left: 50%;
  margin-left: -60px;
  }

/*  -------------------------------------------------------
 *  Little Helpers
 *  ------------------------------------------------------- */
.icon {
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  text-indent: -999em;
  width: 20px; height: 20px;
  }
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

* html .clearfix { height: 1%; } /* IE6 */
*:first-child + html .clearfix { min-height: 1%; } /* IE7 */


/*  -------------------------------------------------------
 *  Media Queries
 *  ------------------------------------------------------- */
/*Smartphones (portrait and landscape) */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .limiter {
    max-width: none;
    min-width: none;
    width: 90%;
    }
  }
/*iPads (portrait and landscape)*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  .limiter {
    max-width: none;
    min-width: none;
    width: 90%;
    }
  }

